@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@import "prism.css";

body {
  background-image: url("../../public/noise.png");
  background-size: 200px 200px;
  background-position: 0 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--incognito), "Inter", sans-serif;
}

.path {
  stroke-dasharray: 500px 100px;
  animation: animate 100s linear infinite alternate-reverse;
}

@keyframes animate {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 12433.8193359375;
  }
}


.skillanimate {
  display: flex;
  gap: 3rem;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.skillanimate:hover {
  cursor: pointer;
  animation-play-state: paused;
}

